apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: saga-shipping
  labels:
    app: payment-service
spec:
  type: ClusterIP
  selector:
    app: payment-service
  ports:
  - name: http
    protocol: TCP
    port: 5007
    targetPort: 5007