apiVersion: v1
kind: Service
metadata:
  name: orchestrator
  namespace: saga-shipping
  labels:
    app: orchestrator
spec:
  type: NodePort  # Accesible desde fuera de Minikube
  selector:
    app: orchestrator
  ports:
  - name: http
    protocol: TCP
    port: 5000
    targetPort: 5000
    nodePort: 30000  # Puerto externo (30000-32767)