apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: saga-shipping
  labels:
    app: inventory-service
spec:
  type: ClusterIP
  selector:
    app: inventory-service
  ports:
  - name: http
    protocol: TCP
    port: 5002
    targetPort: 5002